
.icon-phone:before { content: '\e800'; } /* '' */
.icon-left-dir:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */